<center><h1>Laboratorio 2</h1></center>
<br />
<center><p>La propuesta para la solución de este caso es una codificación en huffman, esto debido a que los textos a codificar no son muy grandes, por lo que es una solución viable</p></center>
<center><p>presione "continuar" para proceder con el laboratorio</p></center>
<br />
<center>
    <form method="post" action="@Url.Action("subirDatos", "Aspirante")">
        <button type="submit" id="llamarMetodoBtn1" name="llamarMetodoBtn1" class="botonplano">Lab 1</button>
    </form>
</center>
</br>
<center>
<form method="post" action="@Url.Action("SubirDatos2", "Aspirante")">
    <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">lab 2</button>
    </form>
</center>
</br>